<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("Head/head"); %>
  </head>
  <body>
    <main>
      <div class="container"><%- body %></div>
    </main>
    <a
      href="javascript:void(0);"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <%- include("Footer/footer"); %> <%- include("messages/message"); %>
  </body>

</html>
