<nav class="header-nav ms-auto">
  <ul class="d-flex align-items-center">
    <li class="nav-item d-block d-lg-none">
      <a class="nav-link nav-icon search-bar-toggle" href="javascript:void(0);">
        <i class="bi bi-search"></i>
      </a>
    </li>

    <li class="nav-item d-block d-lg pe-3">
      <a
        class="nav-link nav-profile d-flex align-items-center pe-0"
        href="/<%=role(user?.roleName)%>/"
      >
        <i class="bi bi-box-arrow-in-right"></i>
        <span class="d-none d-md-block ps-2">Login</span>
      </a>
    </li>
  </ul>
</nav>
